<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>GLEW_1130.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>boing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>cursor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>empty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>gears.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>heightmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>misc05_picking_BulletPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>misc05_picking_custom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>misc05_picking_slow_easy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>monitors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>msaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>splitview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>tutorial01_first_window.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tutorial02_red_triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tutorial03_matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tutorial04_colored_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tutorial05_textured_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>tutorial06_keyboard_and_mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tutorial07_model_loading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>tutorial08_basic_shading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tutorial09_AssImp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tutorial09_several_objects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>tutorial09_vbo_indexing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>tutorial10_transparency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>tutorial11_2d_fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>tutorial12_extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>tutorial13_normal_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>tutorial15_lightmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>tutorial16_shadowmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>tutorial16_shadowmaps_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>tutorial17_rotations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>tutorial18_billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tutorial18_particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>wave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01B28391CB5547F69B8E3594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07BA47F5BE2244FEB57ED5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A5FCD881F84F13B8337A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>090B08808F7D408BA56CF4DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D69AE0224B4AE2876F9C7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E9F4A6A8D7A4031ABB0A388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11C9D0DA919E47F9B3EBD025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183FC6FF0AA04AFBB1ABE60D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C86CE5D329942AABC143642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D7A636B83E2400698F70D6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>225ECE3EA2144A30873FBBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>248E418E08644C6F891AE165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24D9F627C4D44007B82210A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>296BF5A21EF8425287EF4880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AA15C2B647943A88B54227B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B3DCAC0B80345CAB10A549E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BFCD732647243D29B769773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FE4F880143E427983533FE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31DC12820BF44387A663FA85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33736C86957144968344C846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392216E9662849608E208421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C701D01F18146258368D4C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4314EA44948144D79BC5F4C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43C095BC61324C6D97FEA462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459192A06A3F40EB87643A3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53DD7018ACC1440DA02E4809</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A1C0D9D864C4E0EAFC68993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65AB9990C6464BD79C350606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AF2E99B30E8441AB05708C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D351A98C0E14313B8944B33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D934475D3594AACAFD45C57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72E3607CCEFE488999924E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E2F8D400BA45B2A0EF87BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7952B3AABCF14E5C81442045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B7E897E2D7145DC9CA61B17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A52191D878A432AA89091D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943E7EAE296A4DD0A30A9600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>954E9B7959A34462A8B9551A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55030157BA4432C984DA2BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A56BB9A5AD4C089482DB3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9E1608187CD409AA8D249F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADF34A5AA42C4ECB8072FF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0E892EB02674F409C8F262F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3B38B14C87244B8A37B4044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B810C68E0C1C4217922B2052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A5B0C2780D4BFA8164AEB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC209E8F92D4046BD900A29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF153242E5BA44B2A13C0E7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4BCA38620C640A198BC6565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D275924D39EF4DE39C5CD44C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D29DC3F63FFD4C5BA7E5A68A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F91269FFCB426DA6DE7769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E54481B4AF824F40A0592283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E659E577056047ACBBE0432C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66CE7B0D8DD4497891208BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECD0D590BF5F446E90A77832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F09B0E7E8BD34E19887ADAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F87562E571A042A6BE77F3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9718FE77F7345DAB8749DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBE19AF9587B4DD29F103965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA5E8ED09D049FA93E34075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0D6354E896449DACB9DD3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
